<?xml version="1.0" encoding="utf-8"?>
<configuration>
<packageSources>
    <!-- remove inherited connection strings -->
    <clear />
    <!-- add an Azure Artifacts feed -->
    <add key="DevExpress" value="https://nuget.devexpress.com/j86XEKQfCwlRUE3ZYRBJUzcnjTXlnLKBCOtQJJdDOH1vjivJm9/api" />
    <!-- Get packages from NuGet.org -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
</configuration>