@{
    var successMessage = this.Context.Request.Query["SuccessMessage"];
}

@if (!string.IsNullOrEmpty(successMessage))
{
    <div class=" col-sm-6 no-padding">
        <div class="alert alert-success">
            <a class="close" data-dismiss="alert" href="#" aria-hidden="true">&times;</a>
            <b>Success</b>
            <div>
                @successMessage
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
}